<html>
    <head>

    </head>
    <body>
        <h1>Welcome greeting</h1>

        <ul>
            <li>Rahul</li>
        </ul>
        <ul>
            <li>Hemant</li>
        </ul>
        <ul>
            <li>Neha</li>
        </ul>
        <ul>
            <li>Sunny</li>
        </ul>




        <form action="/create-user" method="POST">
            <input type="text" name="name" placeholder="Enter your name">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>